.git
.github
venv
myenv*
__pycache__
*.pyc
.pytest_cache
.nicegui
dwarf_python_api
dwarf_python_api-*.dist-info
Devices_Sessions
Astro_Sessions
docker/data
*.log
*.log.old
config_*.py
config_*.ini
devices.json
sites.json
pending_schedules.json
